@forward 'base';
@forward 'layout';

/*
@use: Permite utilizar namespace, sirve cuando queremos acceder a variables del archivo.

@forward: No permite utilizar namespace

@impoort: Se utilizaba antes, en caso de indicar duplicado el código, se duplica lo que se importa
*/